@import '../../utils.scss';
.item_card_container
{
    padding: 15px;
    display: flex;
    img {
        width: 90px;
    }
    .product_info {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.name {
    font-weight: 700;
    color: $light-orange;
}

.trans_details
{
    display: flex;
    justify-content: space-between;
}

.delete_item
{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: red;
    outline: none;
    border: none;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}


.name_order {
    width: 100%;
    font-weight: 700;
    color: $light-orange;
}

    .product_info_order {
        width: 100%;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

.trans_details_order
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}