@import '../../utils.scss';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.nav
{
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    padding: 15px 60px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05), 0 1px 10px rgba(0, 0, 0, 0.05),
    0 2px 10px rgba(0, 0, 0, 0.05);
    background-color: white;
    box-sizing: border-box;
}

.header
{
    font-size: 40px;
    font-family: 'Lobster';
    color: $light-green;
    align-items: center;
    display: flex;
    div {
        align-items: center;
    }
}

.nav_elements
{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.right_elements
{
    font-weight: 600;
    ul {
        justify-content: space-around;
        align-items: center;
        display: flex;
        li {
            color: $light-orange;
            padding: 0 15px;
            transition: 0.5s;
        }
    }
}

.sign_up
{
    padding: 15px;
    color: white;
    background-color: $light-orange;
    border-radius: 30px;
}

.right_elements_logged_in
{
    font-weight: 600;
    ul {
        margin: 0px;
        justify-content: space-around;
        align-items: center;
        display: flex;
        li {
            padding: 0 10px;
            transition: 0.5s;
            max-height: 100%;
        }
    }
}

.avatar
{
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.down_arrow_container
{
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.down_arrow_container:hover
{
    background-color: #0000001A;
}

.dropdown_container
{
    width: 155px;
    padding: 15px 0px;
    position: absolute;
    top: 65px;
    transform: translateX(-75%);
    background-color: white;
    border-radius: 6px;
    z-index: 220;
    box-shadow: 0px 0px 10px 1px lightgrey;
    ul {
        display: flex;
        flex-direction: column;
        padding: 0px;
        li {
            width: 100%;
            padding: 10px 0px;
            font-size: 14px;
            font-weight: 600;
            color: grey;
            transition: 0.3s;
            text-align: center;
        }
        li:hover{
            background-color: #f9f9f9;
            color: $light-orange;
            .logout_button {
                color: $light-orange;
                cursor: pointer;
                path {
                    fill: $light-orange;
                }
            }
        }
    }
}
.logout_button
{
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: grey;
    font-weight: 600;
}

.shopping_cart
{
    width: 100px;
    height: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    color: white;
    background-color: $light-orange;
    justify-content: space-evenly;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.shopping_cart_container
{
    width: 400px;
    height: 100vh;
    background-color: white;
    overflow: auto;
    header {
        padding: 20px;
        background-color: $light-green;
        color: white;
        font-size: 25px;
        font-weight: 700;
    }
    .cart_items_container
    {
        height: 70%;
        overflow: auto;
    }
}

.delivery_info
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    div {
        margin: 5px 0 5px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.checkout_button
{
    margin-top: 20px;
    padding: 20px;
    background-color: $light-orange;
    color: white;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    
}


