@import "./utils.scss";
.container 
{
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main 
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_container 
{
    
    width: 600px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    transition: ease box-shadow 0.3s;
    &:hover {
        box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.08), 0 5px 25px 0 rgba(0, 0, 0, 0.08);
    }
    padding: 50px;
    margin: 0 50px;
    h1 {
        font-family: "Lobster";
        margin: auto;
        margin-bottom: 20px;
        color: $light-green;
    }
    display: flex;
    flex-direction: column;
    
    /*justify-content: space-evenly;*/
}

.address_container
{
    display: flex;
    flex-direction: column;
    color: $light-green;
    .item_quant {
        color: $light-orange;
        margin-top: 5px;
    }
}

.delivery_info_container
{
    margin: 15px 0 25px;
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    button {
        height: 45px;
        color: white;
        background-color: $light-green;
        outline: none;
        border: none;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    transition: ease box-shadow 0.3s;
    &:hover {
        box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.08), 0 5px 25px 0 rgba(0, 0, 0, 0.08);
    }
    cursor: pointer;
    }
}

.driver_rating_container
{
    margin: 10px 0 20px;
    display: flex;
    align-items: center;
    span {
        margin: 0 20px;
    }
}

.rating_bar{
    width: 300px;
    height: 10px;
    background-color: $light-orange;
}

.like_bar{
    height: 100%;
    background-color: $light-green;
}