@import "./utils.scss"
;.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.zip_input_container
{
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 
      0 15px 30px 0 rgba(0,0,0,0.05),
      0 5px 15px 0 rgba(0,0,0,.05);
    transition: ease box-shadow 0.3s;
    &:hover {
        box-shadow: 
         0 15px 60px 0 rgba(0,0,0,0.08),
         0 5px 25px 0 rgba(0,0,0,.08);
       }
  padding: 40px;
  font-family: 'Lobster';
  color: $light-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.input_area
{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.address_input
{
  width: 80%;
  height: 40px;
  padding: 10px;
  outline: none;
  border: 1px solid #1717171A;
  border-radius: 10px;
  &::-webkit-input-placeholder
  {
    opacity: 0.2;
  }
}

.nav_button
{
  width: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  &:hover
  {
    cursor: pointer;
  }
}

.location_error
{
  color: red;
  font-family: Helvetica;
  font-size: 12px;
  display: block;
  margin-bottom: 15px;
}

.location_section
{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

